@{
  Layout = "_Layout";
}

@using FavoriteClient.Models
@* @model FavoriteClient.Models.Stylist *@
@model List<FavoriteClient.Models.Stylist>;
<h2>Stylist Details</h2>
<hr>
@* <h3>@Html.DisplayNameFor(model => model.stylist): @Html.DisplayFor(model => model.stylist)</h3> *@

@* @foreach (Client client in Model)
{
  
  
  <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) | @client.Stylist.Type</li>
} *@

@foreach (Stylist stylist in Model)
{
  
  
  <li>@Html.ActionLink($"{stylist.Type}", "Details", new { id = stylist.StylistId }) | @stylist.Clients</li>
}